<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
  {% if page.subscribe %}
    <h4>Subscribe</h4>
    <form action="https://formspree.io/sangyushen@gmail.com"
        method="POST">
        <input type="text" placeholder="Name" name="name" style="height:50px; width:100px">
        <input type="email" placeholder="Email" name="_replyto" required>
        <input type="message" placeholder="Message (if any)" name="message">
      <input type="submit" value="Subscribe to this blog">
    </form>
  {% endif %}
