<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<!--
  {% if page.subscribe %}
    <h4>Subscribe</h4>
    <form action="https://formspree.io/sangyushen@gmail.com"
        method="POST">
        <input type="text" placeholder="Name" name="name" style="height:36px; width:150px">
        <input type="email" placeholder="Email" name="_replyto" required style="height:36px; width:150px">
        <input type="message" placeholder="Message(if any)" name="message" style="height:36px; width:150px">
        <input type="submit" value="Get Updates" style="height:36px; width:150px">
    </form>
  {% endif %}
-->

{% if author.subscribe %}
        <li>
          <a href="https://hatchin.github.io/about/#Contact" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fas fa-compass" aria-hidden="true"></i> Subscribe
          </a>
        </li>
      {% endif %}
