<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
        <li>
          <form action="https://formspree.io/sangyushen@gmail.com"
            method="POST">Subscribe
            <input type="text" placeholder="Name" name="name">
            <input type="email" placeholder="Email" name="_replyto" required>
            <input type="message" placeholder="Message (if any)" name="message">
          <input type="submit" value="Send">
          </form>
        </li>
