---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.lang].recent_posts | default: "Recent Posts" }}</h3>

<p>{{ paginator}}</p>
<p></p>
{% for post in site.posts %}
  <p> {{post.title}} </p>
{% endfor %}
{% for post in paginator.posts %}
  <p> {{post}}</p>
  {% if post.language == site.lang %} 
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

{% include paginator.html %}

  {% if paginator.total_pages > 1 %}
  <div class="mb-2 mt-4">
    {% if paginator.previous_page %}
      <a class="btn btn-outline-secondary waves-effect" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Publicações mais recentes</a>
    {% endif %}
    {% if paginator.next_page %}
      <a class="btn btn-outline-secondary waves-effect" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Publicações mais antigas &rarr;</a>
    {% endif %}
  </div>
  {% endif %}
